@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varta');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 112, 192, 1);
    z-index: 0;
}
.nav {
    width: 200px;
    height: 50px;
    background-color: none;
    margin:0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}
nav {
    display: flex;
    width: 900px;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top:40px;
}
.home:hover, .activities:hover, .education:hover, .housing:hover, .contact:hover{
    font-weight: bold;
    font-size: 25px;
} 
.about {
    background-color: black;
    font-weight: bold;
    font-size: 22px;
}
.logo {
    width: 200px;
    height: 100px;
    margin-left: -20px;
    margin-top: 3px;
}
.box{
    width: 950px;
    height: 550px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    align: center;
    padding: 30px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Varta', sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 1.5px;
    text-align: justify;
}
.box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 140px;
    left: 170px;
    background-color: none;
    font-size: 35px;
}
.p1 {
    text-indent: 1.5em;
    width:400px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: justify;
}
.p2::first-letter {
    font-weight: bold;
}
.p2{
    width:250px;
    margin-left: 15px;
}
h2 {
    font-size: 19px;
    margin-top: 20px;
    margin-left:12px;
}
ul {
    margin-left: 27px;
}
.map {
    width: 400px;
    height: 330px;
    position: absolute;
    top: 220px;
    right: 200px;
}    
.caption {
color: #fff;
position: absolute;
    top: 550px;
    right: 305px;
}
footer {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 765px) {
    .nav {
        width: 140px;
        height: 50px;
        background-color: none;
        margin:0px;
        padding-left: 25px;
        font-size: 20px;
        text-align: left;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
    }
    nav {
        display: flex;
        width: 100px;
        height: 100px;
        color: white;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        position: fixed;
        left: 15px;
        top:120px;
    }
    .menu {
        height: 269px;
        background-color: rgba(0, 82, 141, 1);
        width:150px;
        padding-left: 10px;
        border-radius: 20px;
        position: fixed;
        top:120px;
        left:-14px;
        z-index: -1;
      }
    .box{
        display: block;
        width: 440px;
        height: 890px;
        color: white;
        background-color: rgba(0, 82, 141, 1);
        border-radius: 11px;
        z-index: 1;
        padding: 30px;
        margin-left: 150px;
        margin-top: 12px;
        margin-bottom: 30px;
        font-family: 'Varta', sans-serif;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-spacing: 1.5px;
        text-align: justify;
    }
    .box h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 105px;
        left: 200px;
        background-color: none;
        font-size: 25px;
        width: 400px;
    }
    .p1 {
        text-indent: 1.5em;
        width:390px;
        margin-left: -10px;
        margin-bottom: 15px;
        margin-top: 380px;
        text-align: justify;
    }
    .p2::first-letter {
        font-weight: bold;
    }
    .p2{
        width:250px;
        margin-left: -10px;
    }
    h2 {
        font-size: 19px;
        margin-top: 20px;
        margin-left: -10px;
    }
    ul {
        margin-left: 5px;
    }
    .map {
        width: 400px;
        height: 330px;
        position: absolute;
        top: 150px;
        left: 170px;
    }    
    footer {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        margin-left: 120px;
        font-family: 'Montserrat', sans-serif;
        width:96%;
        font-size: 20px;
    }
    .caption {
        color: #fff;
        position: absolute;
            top: 490px;
            left: 170px;
            width: 400px;
        }
}