@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varta');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 112, 192, 1);
    z-index: 0;
}
.nav {
    width: 200px;
    height: 50px;
    margin:0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}
nav {
    display: flex;
    width: 900px;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top:40px;
}
.home:hover, .activities:hover, .contact:hover, .housing:hover, .about:hover{
    font-weight: bold;
    font-size: 25px;
} 
.education {
    background-color: black;
    font-weight: bold;
    font-size: 22px;
}
.logo {
    width: 200px;
    height: 100px;
    margin-left: -20px;
    margin-top: 3px;
}
.box{
    width: 950px;
    height: 550px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    padding: 30px;
    margin-left: 120px;
    margin-top: 50px;
    font-family: 'Varta', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 1.5px;
    text-align: justify;
}
.box2 {
    width: 950px;
    height: 390px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    padding: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    font-family: 'Varta', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 1.5px;
    text-align: justify;
}
.box2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 700px;
    left: 140px;
    font-size: 25px;
}
.box2 p {
    width:426px;
    margin-left: -10px;
    text-align: justify;
}
.aventurijn {
    width: 450px;
    height: 250px;
    position: absolute;
    top: 745px;
    right: 175px;
}    
.box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 140px;
    left: 140px;
    font-size: 35px;
}
.box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 230px;
    left: 140px;
    font-size: 25px;
}
.box p {
    width:426px;
    margin-left: -10px;
    margin-bottom: 15px;
    margin-top: 80px;
    text-align: justify;
}
.olivijn {
    width: 450px;
    height: 250px;
    position: absolute;
    top: 275px;
    right: 175px;
}    
h3 a{
    color: #fff;
    margin-left: -10px;
    margin-right:30px;
}
h3 a:visited {
    color: lightblue;
}
h3 a:hover {
    color: yellow;
    font-size: 19px;
}
h3{
    margin-top: 20px;
}
footer {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 765px) {
    .nav {
        width: 140px;
        height: 50px;
        margin:0px;
        padding-left: 25px;
        font-size: 20px;
        text-align: left;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
    }
    nav {
        display: flex;
        width: 100px;
        height: 100px;
        color: white;
        flex-direction: column;
        justify-content: left;
        position: fixed;
        left: 15px;
        top:120px;
    }
    .menu {
        height: 269px;
        background-color: rgba(0, 82, 141, 1);
        width:150px;
        padding-left: 10px;
        border-radius: 20px;
        position: fixed;
        top:120px;
        left:-14px;
        z-index: -1;
      }
    .box{
        display: block;
        width: 430px;
        height: 780px;
        color: white;
        background-color: rgba(0, 82, 141, 1);
        border-radius: 11px;
        z-index: 1;
        padding: 30px;
        margin-left: 145px;
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Varta', sans-serif;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-spacing: 1.5px;
        text-align: justify;
    }
    .box h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 105px;
        left: 170px;
        font-size: 25px;
        width: 330px;
    }
    .box h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 190px;
        left: 170px;
        font-size: 22px;
        width:350px;
    }
    .box p {
        width:400px;
        margin-left: -15px;
        margin-bottom: 15px;
        margin-top: 350px;
        text-align: justify;
    }
    .olivijn {
        width: 400px;
        height: 250px;
        position: absolute;
        top: 235px;
        left: 160px;
    }    
    .box2 {
        width: 430px;
        height: 650px;
        background-color: rgba(0, 82, 141, 1);
        color: white;
        border-radius: 11px;
        z-index: 1;
        padding: 30px;
        margin-left: 145px;
        margin-bottom: 30px;
        font-family: 'Varta', sans-serif;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-spacing: 1.5px;
        text-align: justify;
        margin-top:-30px;
    }
    .box2 h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 900px;
        left: 160px;
        font-size: 25px;
    }
    .box2 p {
        width:400px;
        margin-left: -10px;
        text-align: justify;
        margin-top:280px;
    }
    .aventurijn {
        width: 400px;
        height: 250px;
        position: absolute;
        top: 945px;
        left: 160px;
    }    
    footer {
        text-align: center;
        color: #fff;
        margin-top: 5px;
        margin-left: 90px;
        font-family: 'Montserrat', sans-serif;
        width:440px;
        font-size: 20px;
    }
}