@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varta');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 112, 192, 1);
    z-index: 0;
}
.nav {
    width: 200px;
    height: 50px;
    background-color: none;
    margin:0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}
nav {
    display: flex;
    width: 900px;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top:40px;
}
.home:hover, .activities:hover, .education:hover, .contact:hover, .about:hover{
    font-weight: bold;
    font-size: 25px;
} 
/* to show the active tab*/
.housing {
    background-color: black;
    font-weight: bold;
    font-size: 22px;
}
.logo {
    width: 200px;
    height: 100px;
    margin-left: -20px;
    margin-top: 3px;
}
.box{
    width: 950px;
    height: 550px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    align: center;
    padding: 30px;
    margin-left: 120px;
    margin-top: 50px;
    font-family: 'Varta', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 1.5px;
    text-align: justify;
}
.box2 {
    width: 950px;
    height: 790px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    align: center;
    padding: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    font-family: 'Varta', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 30px;
    word-spacing: 1.5px;
    text-align: justify;
}
.box2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 890px;
    left: 140px;
    font-size: 25px;
}
.box2 p {
    width:500px;
    margin-left: -10px;
    text-align: justify;
    margin-top: 200px;
}
/* for the pictures to show as a column. each under the other one*/
.castrovalva{
    display: flex;
    flex-direction: column;
    width:340px;
    height:200px;
    justify-content: space-between;
    position: absolute;
    right: 170px;
    bottom:-550px;
}
.schwartzestraat{
    display: flex;
    flex-direction: column;
    width:340px;
    height:220px;
    justify-content: space-between;
    position: absolute;
    right: 170px;
    top: 285px;
}
/*to add some distaance between the pictures*/
.castrovalva1, .castrovalva2, .schwartze1, .schwartze2 {
    margin-bottom: 10px;
}
.box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 135px;
    left: 140px;
    background-color: none;
    font-size: 35px;
    width: 800px;
    line-height: 40px;
}
.box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 240px;
    left: 140px;
    font-size: 25px;
}
.box p {
    width:426px;
    margin-left: -10px;
    margin-bottom: 15px;
    margin-top: 90px;
    text-align: justify;
    width:520px;
}
h3 a{
    color: #fff;
    margin-left: -10px;
}
h3 a:hover {
    color: yellow;
    font-size: 19px;
}
h3 a:visited {
    color: lightblue;
}
h3{
    margin-top: 20px;
}
footer {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 765px) {
    .nav {
        width: 120px;
        height: 50px;
        background-color: none;
        margin:0px;
        padding-left: 10px;
        font-size: 20px;
        text-align: left;
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
    }
    nav {
        display: flex;
        width: 100px;
        height: 100px;
        color: white;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        position: absolute;
        left: 25px;
        top:100px;
    }
    .box{
        display: block;
        width: 430px;
        height: 1190px;
        color: white;
        background-color: rgba(0, 82, 141, 1);
        border-radius: 11px;
        z-index: 1;
        padding: 30px;
        margin-left: 145px;
        margin-top: 15px;
        margin-bottom: 30px;
        font-family: 'Varta', sans-serif;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-spacing: 1.5px;
        text-align: justify;
    }
    .box h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 107px;
        left: 165px;
        background-color: none;
        font-size: 25px;
        width: 390px;
        line-height:28px;
    }
    .box h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 190px;
        left: 170px;
        font-size: 22px;
        width:270px;

    }
    .box p {
        width:400px;
        margin-left: -15px;
        margin-bottom: 15px;
        margin-top: 740px;
        text-align: justify;
    }
    .schwartzestraat{
        display: flex;
        flex-direction: column;
        width:380px;
        height:290px;
        justify-content: space-between;
        position: absolute;
        left: 170px;
        top: 260px;
    }
    .box2 {
        width: 430px;
        height: 1010px;
        background-color: rgba(0, 82, 141, 1);
        color: white;
        border-radius: 11px;
        z-index: 1;
        align: center;
        padding: 30px;
        margin-left: 145px;
        margin-bottom: 30px;
        font-family: 'Varta', sans-serif;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 30px;
        word-spacing: 1.5px;
        text-align: justify;
        margin-top:-40px;
    }
    .box2 h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        position: absolute;
        top: 1330px;
        left: 170px;
        font-size: 22px;
        width:290px;
    }
    .box2 p {
        width:400px;
        margin-left: -10px;
        text-align: justify;
        margin-top: 460px;
    }
    .castrovalva{
        display: flex;
        flex-direction: column;
        width:380px;
        height:290px;
        justify-content: space-between;
        position: absolute;
        left: 170px;
        bottom:-790px;
    }
    footer {
        text-align: center;
        color: #fff;
        margin-top: 5px;
        margin-left: 90px;
        font-family: 'Montserrat', sans-serif;
        width:400px;
        font-size: 20px;
    }
}