@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varta');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 112, 192, 1);
    z-index: 0;
}
.nav {
    width: 200px;
    height: 50px;
    background-color: none;
    margin:0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}
nav {
    display: flex;
    width: 900px;
    height: 50px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top:40px;
}
.home:hover, .activities:hover, .education:hover, .housing:hover, .about:hover{
    font-weight: bold;
    font-size: 25px;
} 
/* to show the user 'Contact' is active and that is where they are*/
.contact {
    background-color: black;
    font-weight: bold;
    font-size: 22px;
}
.logo {
    width: 200px;
    height: 100px;
    margin-left:-20px;
    margin-top: 3px;
}
.box{
    width: 600px;
    height: 750px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    align: center;
    padding: 30px;
    margin-left: 290px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Varta', sans-serif;
}
.box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 135px;
    left: 300px;
    background-color: none;
    font-size: 35px;
}
.box h2 {
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    left:315px;
}
.title {
    position: absolute;
    left: 315px;
    bottom: 318px;
    font-size: 20px;
}
.mr {
    position: absolute;
    left: 315px;
    bottom: 290px;
    font-size: 20px;
}
.mrs {
    position: absolute;
    left: 390px;
    bottom: 290px;
    font-size: 20px;
}
.name {
    position: absolute;
    left: 315px;
    top: 323px;
    font-size: 20px;
}
input[type="text"] {
    position: absolute;
    left: 315px;
    top: 350px;
}
.email {
    margin-left: 10px;
    position: absolute;
    left:305px;
    top:413px;
    font-size: 20px;
}
input[type="email"]{
    position: absolute;
    left: 315px;
    top: 440px;
    width: 300px;
    height: 35px;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
}
.phonenumber {
    position: absolute;
    left: 315px;
    top: 504px;
    font-size: 20px;
}
input[type="tel"]{
    position: absolute;
    left: 315px;
    top: 530px;
    height: 28px;
    width: 200px;
    border-color: gray;
    border-width: 3px;
    border-style: solid;
}
.message {
    position: absolute;
    left: 315px;
    bottom: -40px;
    font-size: 20px;
}
textarea {
    position: absolute;
    width: 550px;
    height: 150px;
    bottom: -190px;
    left: 315px;
    border-color:gray;
    border-width: 3px;
    border-style: solid;
}
input[type="submit"]:hover {
    background-color: rgb(1, 65, 111);
    font-size: 25px;
}
input[type="submit"] {
    background-color: black;
    color: #fff;
    width: 155px;
    height: 55px;
    font-size: 22px;
    position: absolute;
    left: 506px;
    bottom: -270px;
    border-width: 0px;
    border-radius: 20px;
}
input[type="email"],
input[type="text"] 
{
    border-color: gray;
    width: 260px;
    height:32px;
    padding: 10px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
}
footer {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 70px;
    font-family: 'Montserrat', sans-serif;
}
