@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Varta');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 112, 192, 1);
    z-index: 0;
}
.nav {
    width: 200px;
    height: 70px;
    background-color: black;
    margin:0px;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    width: 1000px;
    height: 100px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top: 8px;
}
.contact {
    background-color: rgba(0, 77, 132, 1);
    font-weight: bold;
    font-size: 22px;
}
img {
    width: 200px;
    height: 100px;
    margin-left: 10px;
    margin-top: 3px;
}
.box{
    width: 700px;
    height: 600px;
    background-color: rgba(0, 82, 141, 1);
    color: white;
    border-radius: 11px;
    z-index: 1;
    align: center;
    padding: 30px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Varta', sans-serif;
}
.box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 135px;
    left: 300px;
    background-color: none;
    font-size: 35px;
}
.box h2 {
    font-weight: 100;
}
.title {
    position: absolute;
    left: 290px;
    bottom: 320px;
}
.mr {
    position: absolute;
    left: 290px;
    bottom: 290px;
}
.mrs {
    position: absolute;
    left: 350px;
    bottom: 290px;
}
.name {
    position: absolute;
    left: 450px;
    bottom: 320px;
}
input[type="text"] {
    position: absolute;
    left: 450px;
    bottom: 280px;
}
.email {
    position: absolute;
    left: 290px;
    bottom: 230px;
}
input[type="email"]{
    position: absolute;
    left: 290px;
    bottom: 200px;
    width: 200px;
    height: 27px;
}
.phonenumber {
    position: absolute;
    left: 290px;
    bottom: 140px;
}
input[type="tel"]{
    position: absolute;
    left: 290px;
    bottom: 100px;
}
.message {
    position: absolute;
    left: 290px;
    bottom: 35px;
}
textarea {
    position: absolute;
    bottom: -80px;
    left: 290px;
}
input[type="submit"] {
    background-color: black;
    color: #fff;
    width: 140px;
    height: 45px;
    font-size: 20px;
    position: absolute;
    left: 700px;
    bottom: -40px;
}
input[type="tel"],
input[type="text"] 
{
    width: 180px;
    height:27px;
    padding: 10px;
    margin-bottom: 10px;
}

