body {
    background-color:rgb(206, 127, 206);
    color: rgb(0, 0, 0);
}
    p {
        font-size: 180%;
        text-align:start;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(153, 56, 153);
    }
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    }

