* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav {
    width: 1000px;
    height: 70px;
    background-color: black;
    margin:0px;
    padding: 25px;
    font-size: large;
    text-align: center;
}

nav {
    display: flex;
    width: 1000px;
    height: 1000px;
    border-style: none;
    flex-direction: row;
    justify-content:center;
    font-size: large;
    position: absolute;
    left: 270px;
    top: 20px;
}
a{
    color: white;
    text-decoration: none;
}
body {
    background-color: rgba(0, 112, 192, 1);
}
.activities {
    background-color: rgba(1, 94, 161, 1);
}
img {
    width: 200px;
    height: 100px;
    margin-left: 40px;
    margin-top: 6px;
}